   <!-- Inici footer -->
   <footer class="relative  bg-gradient-to-r from-[#2b6777] to-[#50b4a5] pt-8 pb-6">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-3xl fonat-semibold text-white">Let's keep in touch!</h4>
                <h5 class="text-lg mt-0 mb-2 text-[#c8d8e4]">
                    Contacta'ns en alguna d'aquestes plataformes.
                </h5>
                <div class="grid grid-cols-4 mt-6 lg:mb-0 mb-6 w-48">
                    <img class="bg-[#f2f2f2] text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-4" src="/public/img/facebook.png">
                    <img class="bg-[#f2f2f2] text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-4" src="/public/img/instagram.png">
                    <img class="bg-[#f2f2f2] text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-4" src="/public/img/whatsapp.png">
                    <img class="bg-[#f2f2f2] text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-4" src="/public/img/twitter.png">


                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span class="block uppercase text-white text-sm font-semibold mb-2">Links
                            útils</span>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-[#c8d8e4] hover:text-white font-semibold block pb-2 text-sm" href="">About Us</a>
                            </li>
                            <li>
                                <a class="text-[#c8d8e4] hover:text-white font-semibold block pb-2 text-sm" href="">Blog</a>
                            </li>
                            <li>
                                <a class="text-[#c8d8e4] hover:text-white font-semibold block pb-2 text-sm" href="">Mapa</a>
                            </li>
                            <li>
                                <a class="text-[#c8d8e4] hover:text-white font-semibold block pb-2 text-sm" href="">Topics</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-4/12 px-4">
                        <span class="block uppercase text-white text-sm font-semibold mb-2">Altres
                            recursos</span>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-[#c8d8e4] hover:text-white font-semibold block pb-2 text-sm" href="#">hola</a>
                            </li>
                            <li>
                                <a class="text-[#c8d8e4] hover:text-white font-semibold block pb-2 text-sm" href="">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a class="text-[#c8d8e4] hover:text-white font-semibold block pb-2 text-sm" href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="text-[#c8d8e4] hover:text-white font-semibold block pb-2 text-sm" href="">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-green-300">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm text-white font-semibold py-1">
                    Copyright © <span id="get-current-year">2021</span>
                    <a class="text-white">All rights reserved</a>.
                </div>
            </div>
        </div>
    </div>
</footer>