<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Kipeer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link type="text/css" href="/public/css/style.css" />
    <script type="text/javascript" src="/public/js/menu.js"></script>
    <!--Inici login-->

</head>
