<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <!-- <link rel="apple-touch-icon" href="/public/img/icon.png"> -->


    <!-- TEST -->
    <link rel="icon" href="/public/img/icon.png" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png" />

    <title>getKeepers</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link type="text/css" href="/public/css/style.css" />
    <script type="text/javascript" src="/public/js/menu.js"></script>

    <script src="/public/js/register-sw.js"></script>
    <link rel="manifest" type="application/json" href="/manifest.json">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2346109445308925"
        crossorigin="anonymous"></script>

</head>