<div class="offsite-container w-4/6 hidden md:hidden  h-screen z-50  bg-gray-500 fixed right-0 top-0" id="off_site-object">
        
    <nav class="nav bg-gray-100 h-full overflow-y-auto shadow-lg">
        <div class="relative">
            <img class="absolute left-0 m-5 h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="" href="#">

            <svg class="sidebar-button absolute right-0 m-5 focus:outline-none mobile-menu-button font-black" width="16" height="16" onclick="changeVisibility()" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <g transform="matrix(2,0,0,2,0,0)">
                    <path d="M4.5 19.5L19.5 4.5" fill="none" stroke="#000000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                    <path d="M4.5 4.5L19.5 19.5" fill="none" stroke="#000000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                </g>
            </svg>
        </div>
        <ul class="mx-5 mt-16 py-6 mb-4">
            <!--<li class="flex items-center">
                    <svg class="rounded-full border-2 border-gray-200"width="16" height="16" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(2,0,0,2,0,0)"><path d="M6.750 6.000 A5.250 5.250 0 1 0 17.250 6.000 A5.250 5.250 0 1 0 6.750 6.000 Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M2.25,23.25a9.75,9.75,0,0,1,19.5,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path></g></svg>
                    <a class="px-4" href="#">Usuari</a>
                </li>-->
            <!--TODO: Afegir menu mobil quan estas log in -->
            <button class="bg-red-400 text-white w-full py-2 mb-6 rounded-xl hover:bg-red-600">List your
                space</button>
            <li class="mb- p-2  hover:bg-gray-200 rounded-xl"><a href="#">Storage</a></li>
            <li class="mb- p-2 hover:bg-gray-200 rounded-xl"><a href="#">Parking</a></li>
            <li class="mb- p-2 hover:bg-gray-200 rounded-xl"><a href="#">List your space</a></li>
            <li class="mb- p-2 hover:bg-gray-200 rounded-xl"><a href="#">Blog</a></li>
            <li class="mb- p-2 hover:bg-gray-200 rounded-xl"><a href="#">About</a></li>
            <a href="login"><button
                    class="bg-green-400 text-white w-full mt-6 py-2 rounded-xl hover:bg-green-600">Sign in
                </button></a>


        </ul>
    </nav>
</div>