<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="/public/js/navbar.js"></script>

<%- include('./loading') %>

  <div id="change-bg" class="change-bg">
    <!-- Menu navegacio -->
    <nav class="top-0 h-20 max-h-20 border-b-1 z-[100] shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <div class="flex">
              <!-- Website Logo -->
              <a href="/" class="flex py-4 px-2 my-3">
                <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt=""
                  href="/">

                <span class="ml-4 mr-10 font-semibold text-[#2b6777] text-lg">Keepers</span>
              </a>
            </div>
            <!-- Primary Navbar items -->
            <div class="hidden md:flex  space-x-4 my-4">
              <!-- <a href="" class="py-4 px-2 text-green-200 border-b-4 border-green-200 font-semibold ">Storage</a> -->
              <a href="/mapa?type=storage"
                class="py-4 px-2 text-[#2b6777] font-semibold hover:text-green-200 transition duration-300">Traster</a>
              <hr>
              <a href="/mapa?type=parking"
                class="py-4 px-2 text-[#2b6777] font-semibold hover:text-green-200 transition duration-300">Pàrquing</a>
              <a href="/blog"
                class="py-4 px-2 text-[#2b6777] font-semibold hover:text-green-200 transition duration-300">Blog</a>
              <a href="/place/create"
                class="py-4 px-2  text-[#2b6777] font-semibold hover:text-green-200 transition duration-300">Publiar
                espais</a>
            </div>
          </div>
          <div class="hidden md:flex  my-4 px-3  z-50 ">
            <nav :class="{'flex': open, 'hidden': !open}"
              class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
              <div @click.away="open = false" class="relative" x-data="{ open: false }">
                <button @click="open = !open"
                  class="flex flex-row text-gray-900  items-center space-x-3 w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600  hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                  <% if (locals.user) {%>
                    <img class="h-8 w-8 rounded-full" src="<%= user.image %>" alt="">
                    <% }else{%>
                      <img class="h-8 w-8 rounded-full"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ27oOKcnLPxWi6NIE37JPkhTh2rum8Auc-jI1R90lRDDjQ508J86kjJ8E4S2qYaIa9MpM&usqp=CAU"
                        alt="">
                      <% }%>
                        <span>
                          <% if(locals.user) {%>
                            <%= locals.user.firstName %>
                              <% }else{ %>
                                Account
                                <%}%>
                        </span>

                        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
                          class="inline w-4 h-4  transition-transform duration-200 transform ">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                </button>
                <div x-show="open" x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="transform opacity-0 scale-95"
                  x-transition:enter-end="transform opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-75"
                  x-transition:leave-start="transform opacity-100 scale-100"
                  x-transition:leave-end="transform opacity-0 scale-95"
                  class="absolute right-0 w-80 md:max-w-screen-sm  mt-2 origin-top-right">
                  <div class="px-2 pt-2 pb-4 bg-white rounded-md shadow-lg dark-mode:bg-gray-700">
                    <div class="grid grid-cols-1 gap-4">
                      <% if (locals.user) {%>
                        <a class="flex  row items-start rounded-lg bg-transparent p-2 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                          href="/profile">
                          <div class="bg-[#2b6777] text-white rounded-lg p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em"
                              height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                              <path fill="currentColor"
                                d="M20 2H8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-6 2.5a2.5 2.5 0 1 1 0 5a2.5 2.5 0 0 1 0-5zM19 15H9v-.25C9 12.901 11.254 11 14 11s5 1.901 5 3.75V15z" />
                              <path fill="currentColor" d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8z" />
                            </svg>
                          </div>
                          <div class="ml-3">
                            <p class="font-semibold">Perfil</p>
                            <p class="text-sm">Dades personals</p>
                          </div>
                        </a>
                        <a class="flex column items-start rounded-lg bg-transparent p-2 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                          href="/user/myspaces">
                          <div class="bg-[#2b6777] text-white rounded-lg p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em"
                              height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                              <path fill="currentColor"
                                d="m10.598 2.01l9 2A.5.5 0 0 1 20 4.5v15a.5.5 0 0 1-.402.49l-9 2A.5.5 0 0 1 10 21.5v-19a.5.5 0 0 1 .598-.49ZM9 4v16H4.75a.75.75 0 0 1-.743-.648L4 19.25V4.75a.75.75 0 0 1 .648-.743L4.75 4H9Zm4 7a1 1 0 1 0 0 2a1 1 0 0 0 0-2Z" />
                            </svg>
                          </div>
                          <div class="ml-3">
                            <p class="font-semibold">Espais</p>
                            <p class="text-sm">Visualitza els teus espais</p>
                          </div>
                        </a>
                        <a class="flex  row items-start rounded-lg bg-transparent p-2 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                          href="/logout">
                          <div class="bg-[#2b6777] text-white rounded-lg p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em"
                              height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                              <path fill="currentColor"
                                d="M6 30h12a2.002 2.002 0 0 0 2-2v-3h-2v3H6V4h12v3h2V4a2.002 2.002 0 0 0-2-2H6a2.002 2.002 0 0 0-2 2v24a2.002 2.002 0 0 0 2 2Z" />
                              <path fill="currentColor"
                                d="M20.586 20.586L24.172 17H10v-2h14.172l-3.586-3.586L22 10l6 6l-6 6l-1.414-1.414z" />
                            </svg>
                          </div>
                          <div class="ml-3">
                            <p class="font-semibold">Log out</p>
                            <p class="text-sm">Tancar la sessió</p>
                          </div>
                        </a>

                        <% }else{ %>
                          <a class="flex  row items-start rounded-lg bg-transparent p-2 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                            href="/register">
                            <div class="bg-[#2b6777] text-white rounded-lg p-3">
                              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em"
                                height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
                                <path fill="currentColor"
                                  d="M678.3 642.4c24.2-13 51.9-20.4 81.4-20.4h.1c3 0 4.4-3.6 2.2-5.6a371.67 371.67 0 0 0-103.7-65.8c-.4-.2-.8-.3-1.2-.5C719.2 505 759.6 431.7 759.6 349c0-137-110.8-248-247.5-248S264.7 212 264.7 349c0 82.7 40.4 156 102.6 201.1c-.4.2-.8.3-1.2.5c-44.7 18.9-84.8 46-119.3 80.6a373.42 373.42 0 0 0-80.4 119.5A373.6 373.6 0 0 0 137 888.8a8 8 0 0 0 8 8.2h59.9c4.3 0 7.9-3.5 8-7.8c2-77.2 32.9-149.5 87.6-204.3C357 628.2 432.2 597 512.2 597c56.7 0 111.1 15.7 158 45.1a8.1 8.1 0 0 0 8.1.3zM512.2 521c-45.8 0-88.9-17.9-121.4-50.4A171.2 171.2 0 0 1 340.5 349c0-45.9 17.9-89.1 50.3-121.6S466.3 177 512.2 177s88.9 17.9 121.4 50.4A171.2 171.2 0 0 1 683.9 349c0 45.9-17.9 89.1-50.3 121.6C601.1 503.1 558 521 512.2 521zM880 759h-84v-84c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v84h-84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h84v84c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-84h84c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z" />
                              </svg>
                            </div>
                            <div class="ml-3">
                              <p class="font-semibold">Registre</p>
                              <p class="text-sm">Crear usuari nou</p>
                            </div>
                          </a>
                          <a class="flex  row items-start rounded-lg bg-transparent p-2 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                            href="/login">
                            <div class="bg-[#2b6777] text-white rounded-lg p-3">
                              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em"
                                height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="currentColor" d="m10.998 16l5-4l-5-4v3h-9v2h9z" />
                                <path fill="currentColor"
                                  d="M12.999 2.999a8.938 8.938 0 0 0-6.364 2.637L8.049 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051S20 10.13 20 12s-.729 3.628-2.051 4.95s-3.08 2.051-4.95 2.051s-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637C21.063 16.665 22 14.405 22 12s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z" />
                              </svg>
                            </div>
                            <div class="ml-3">
                              <p class="font-semibold">Login</p>
                              <p class="text-sm">Iniciar sessió</p>
                            </div>
                          </a>
                          <%}%>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>


          <!-- Mobile menu button -->
          <div class="md:hidden flex items-center ">
            <button class="sidebar-button focus:outline-none mobile-menu-button" onclick="changeVisibility()">
              <svg class=" w-6 h-6 text-gray-500 hover:text-green-200 " x-show="!showMenu" fill="none"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                stroke="currentColor">
                <path d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
  </div>

  <%- include('./mobileNavbar') %>

    </nav>