


.container {
    position: relative;
  }
  


  .text-left-infowindow{
    z-index:30;
    position:absoulte;
    left:-5px;
    top:140px;
  }
  
  .text-right-infowindow{
   z-index:30;
    position: absolute;
    right:-5px;
    top: 140px;
    
  }
  
  

 .image{
     max-height: 200px;
     max-width: 750px;
     height: 200px;
 }