<%- include('../partials/head') %>

  <link rel='stylesheet' type="text/css" href="/public/css/create_place.css">

  <script type="text/javascript" src="/public/js/create_place.js" defer></script>


  <body onLoad="clearForms()" onUnload="clearForms()">
    <!-- Menu navegacio -->
    <%- include('../partials/navbar') %>
      <div id="change-bg" class="change-bg">
        <!-- Inici formulari -->
        <div class="container mx-auto bg-gray-50 shadow-2xl rounded-md  my-20">
          <div class="grid grid-cols-1  m-10  gap-20  min-h-[640px]">

            <div class="grid place-items-center mx-2   ">

              <div class="w-3/5 mx-auto">

                <form id="regForm" method="POST" enctype="multipart/form-data">
                  <!-- Progression bar -->
                  <h2 class="text-center font-semibold text-3xl py-10 lg:text-4xl text-gray-800">
                    Crear Espai
                  </h2>
                  <div class="mx-auto  bg-gray-200 h-2 my-10 rounded-full">
                    <div id="progressBarCreatePlace" class="bg-green-600 h-2 rounded-full"></div>
                  </div>

                  <div class="tab">
                    <label class="block text-xs font-semibold text-gray-600 uppercase mt-5 mb-3">Títol de
                      l'espai</label>
                    <p class="mb-5 font-light  text-sm text-gray-600">
                      Pots utilitzar aquest camp si vols destacar alguna característica especial del teu espai, o
                      mostrar la seva adreça als potencials llogaters.
                      <br>
                      No cal que esmentes aquí el tipus d'espai que llogues o la ciutat on està, això ja ho farem
                      nosaltres!
                    </p>
                    <input id="title" name="title" type="text" placeholder="Espai del Jaume" class="block w-full p-3 mt-2 rounded-full
                      text-gray-800 appearance-none 
                      border-b-2 border-gray-100
                      focus:text-gray-500 focus:outline-none focus:border-gray-200" required />
                  </div>

                  <div class="tab">
                    <label class="block text-xs font-semibold text-gray-600 uppercase mt-5 mb-3">Descripció</label>
                    <p class="mb-5 font-light  text-sm text-gray-600">
                      Encara que sempre podràs parlar amb els llogaters que s'interessin per resoldre els seus dubtes,
                      intenta que aquest camp descrigui el teu espai tan bé com sigui possible.


                      És important que aquestes mesures coincideixin amb l'espai que poden utilitzar els teus llogaters.
                    </p>
                    <textarea id="description" cols="30" rows="5" name="description" placeholder="Descriu l'espai..."
                      class="block w-full p-3 mt-2
                      text-gray-800 appearance-none 
                      border-b-2 border-gray-100
                      focus:text-gray-500 focus:outline-none focus:border-gray-200" required></textarea>
                  </div>

                  <div class="tab">
                    <label class="block text-xs font-semibold text-gray-600 uppercase mt-5 mb-3">Mides de
                      l'espai</label>
                    <p class="mb-5 font-light  text-sm text-gray-600">
                      És important que aquestes mesures coincideixin amb l'espai que poden utilitzar els teus llogaters.
                      Els imports que determinis reflecteixen l'import final que rebràs tant en concepte de lloguer com
                      de fiança.
                    </p>
                    <div class="flex items-center space-x-2">
                      <input id="measures" type="number" name="measures" placeholder="40" class="block w-5/6 p-3 mt-2 
                    text-gray-800 appearance-none 
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200" required />
                      <p>m<sup>2</sup></p>
                    </div>

                  </div>

                  <div class="tab">
                    <label class="block text-xs font-semibold text-gray-600 uppercase mt-5 mb-3">Preu per mes</label>
                    <p class="mb-5 font-light  text-sm text-gray-600">
                      Els imports que determinis reflecteixen l'import final que rebràs tant en concepte de lloguer com
                      de fiança.
                    </p>
                    <div class="flex items-center">
                      <input id="price" type="number" name="price" placeholder="300€" class="block w-full p-3 mt-2
                      text-gray-800 appearance-none 
                      border-b-2 border-gray-100
                      focus:text-gray-500 focus:outline-none focus:border-gray-200" required />
                      <p class="pl-4"> /Mes</p>
                    </div>
                  </div>

                  <div class="tab">
                    <label class="block text-xs font-semibold text-gray-600 uppercase mt-5">Direcció</label>
                    <div class="flex w-full py-1 px-1 mt-2 
                      text-gray-800 appearance-none 
                      border-b-2 border-gray-100
                      focus:text-gray-500 focus:outline-none focus:border-gray-200">
                      <input type="text" placeholder="Enter location" class="w-full rounded-xl border-none p-3"
                        id="search-box-index" name="address" value="" required>

                    </div>
                    <div id="map" class="hidden h-96"></div>

                  </div>



                  <div class="tab">
                    <label for="files" class="block text-xs font-semibold text-gray-600 uppercase mt-5">Imatges</label>
                    <input type="file" id="files" name="files" accept="image/*" multiple class="block w-full py-3 mt-2"
                      required />
                    <output id="result" class="block max-h-80  overflow-x-auto" />
                  </div>

                  <div class="tab">
                    <label class="block text-xs font-semibold text-gray-600 uppercase mt-5">Gràcies per confiar amb
                      nosaltres</label>

                  </div>

                  <div class="flex place-items-center">

                    <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="w-full md:w-1/5 py-2 mr-4  mt-5 bg-gray-400 rounded-full hidden
                        font-medium text-white uppercase
                        focus:outline-none hover:bg-gray-600 hover:shadow-none">
                      Previous
                    </button>

                    <button type="button" id="nextBtn" onclick="nextPrev(1)" class="w-full md:w-1/5 py-2 mt-5 bg-blue-400 rounded-full hidden
                        font-medium text-white uppercase
                        focus:outline-none hover:bg-blue-600 hover:shadow-none">
                      Next
                    </button>

                    <button id="submit" type="submit" class="w-full md:w-1/5 py-2 mt-5 bg-green-400 rounded-full hidden
                        font-medium text-white uppercase
                        focus:outline-none hover:bg-green-600 hover:shadow-none">
                      Crear l'espai
                    </button>


                  </div>

                  <div style="text-align:center;margin-top:40px;" class="hidden">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                  </div>


                </form>

              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/footer') %>
      </div>
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6jD6iWnEJkmx1_ah_o3ftmI8w9ozYBcM&callback=initMaps&v=weekly&libraries=places"
        async>
        </script>
  </body>

  </html>