<%- include("../partials/head") %>

    <script type="text/javascript" src="/public/js/index.js"></script>

    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>


    <body style="font-family: 'Source Sans Pro', sans-serif;">
        <div class="object-fill" style="background: url(/public/img/index2.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">

            <%- include('../partials/navBarIndex') %>

                <!--Inici cercador -->
                <section class="change-bg pt-20">
                    <div class="flex overflow-x-hidden z-10">

                        <div class="col-span-1 items-center  mt-10 mx-auto pl-10">
                            <h1 class="font-black text-4xl tracking-tight text-white lg:text-left text-center w-5/6 ">
                                Troba trasters o pàrquings aprop teu </h1>
                            <div
                                class="flex flex-shrink-0 rounded-full bg-[#f2f2f2] mt-8 h-10 w-5/6 mr-20 max-w-screen-md">
                                <input type="text" placeholder="Enter location"
                                    class="w-full rounded mr-2 ml-4  hover:stroke-white" id="search-box-index">

                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2 mr-4" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="grid grid-cols-2 gap-2 w-5/6 mr-20 max-w-screen-md">
                                <button
                                    class="mt-8  rounded-full py-2 bg-white text-center border-2 text-[#2b6777] hover:bg-[#2b6777] hover:text-white  font-black text-lg focus:outline-none transition duration-300"
                                    id="storage_button">
                                    Trasters
                                </button>
                                <button
                                    class="mt-8 rounded-full py-2 bg-white text-center text-[#2b6777] border-2 hover:bg-[#2b6777] hover:text-white font-black text-lg focus:outline-none transition duration-300"
                                    id="parking_button">
                                    Pàrquings
                                </button>
                            </div>
                            <div>
                                <p class="hidden lg:block text-white font-black mt-10">Tens algun espai que no
                                    l'utilitzes ?
                                </p>
                                <a href="/place/create">

                                    <button
                                        class="rounded-full font-black focus:outline-none mt-4 lg:mt-2 py-2 border-2  bg-white  text-[#2b6777] hover:bg-[#2b6777] hover:text-white  w-5/6 max-w-screen-md text-lg transition duration-300">
                                        Afegeix el teu espai </button>
                                </a>
                            </div>
                            <div class="mt-10 mb-10">

                                <div class="flex items-center text-left px-4 mb-0">
                                    <svg viewBox="0 0 48 48" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="matrix(2,0,0,2,0,0)">
                                            <path
                                                d="M18.736,13.8c2.74.957,4.514,2.484,4.514,4.205,0,2.9-5.037,5.25-11.25,5.25S.75,20.9.75,18c0-1.715,1.761-3.237,4.485-4.195"
                                                fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5"></path>
                                            <path
                                                d="M9.375 3.375 A2.625 2.625 0 1 0 14.625 3.375 A2.625 2.625 0 1 0 9.375 3.375 Z"
                                                fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5"></path>
                                            <path d="M15.75,12.745V10.5a3.75,3.75,0,0,0-7.5,0v2.25h1.5l.75,6h3l.75-6Z"
                                                fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5">
                                            </path>
                                        </g>
                                    </svg>
                                    <div class="font-black text-white mx-4 p-2 text-xl">
                                        Local Spaces
                                        <hr>
                                        <div class="font-normal  text-base py-2 text-white">Trobeu un espai convenient a
                                            prop</div>
                                    </div>
                                </div>
                                <div class="flex items-center text-left px-4 mb-0">
                                    <svg viewBox="0 0 48 48" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="matrix(2,0,0,2,0,0)">
                                            <path
                                                d="M2.250 3.750 A3.000 3.000 0 1 0 8.250 3.750 A3.000 3.000 0 1 0 2.250 3.750 Z"
                                                fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5"></path>
                                            <path d="M7.5,23.25l.75-7.5h1.5v-3a4.5,4.5,0,0,0-9,0v3h1.5L3,23.25Z"
                                                fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5">
                                            </path>
                                            <path d="M23.25,6.75a6,6,0,1,1-6-6" fill="none" stroke="#c8d8e"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                            </path>
                                            <path d="M23.25,2.249l-5.47,5.47a.749.749,0,0,1-1.06,0L15,6" fill="none"
                                                stroke="#c8d8e4" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.5">
                                            </path>
                                        </g>
                                    </svg>
                                    <div class="font-black text-white mx-4 p-2 text-xl">
                                        Verified Users
                                        <hr>
                                        <div class="font-normal  text-base py-2 text-white">Tots els usuaris estan
                                            verificats</div>

                                    </div>
                                </div>
                                <div class="flex items-center text-left px-4 mb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 48 48">
                                        <g transform="matrix(2,0,0,2,0,0)">
                                            <g>
                                                <path d="M12.75.75h4.5a3,3,0,0,1,3,3v3"
                                                    style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                </path>
                                                <polyline points="18 4.5 20.25 6.75 22.5 4.5"
                                                    style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                </polyline>
                                                <path d="M10.5,23.25H6a3,3,0,0,1-3-3v-3"
                                                    style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                </path>
                                                <polyline points="5.25 19.5 3 17.25 0.75 19.5"
                                                    style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                </polyline>
                                                <path
                                                    d="M18.75,14.25h-2a1.34,1.34,0,0,0-.5,2.59l2.06.82a1.36,1.36,0,0,1,.85,1.25,1.34,1.34,0,0,1-1.35,1.34h-2"
                                                    style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                </path>
                                                <line x1="17.25" y1="14.25" x2="17.25" y2="13.5"
                                                    style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                </line>
                                                <line x1="17.25" y1="21" x2="17.25" y2="20.25"
                                                    style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                </line>
                                                <circle cx="17.25" cy="17.25" r="6"
                                                    style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                </circle>
                                                <g>
                                                    <path
                                                        d="M8.25,3.25V7.5a.76.76,0,0,1-.75.75H3a.75.75,0,0,1-.75-.75V3.25"
                                                        style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                    </path>
                                                    <polyline points="0.75 4.5 5.25 0.75 9.75 4.5"
                                                        style="fill: none;stroke: #c8d8e4;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.5px">
                                                    </polyline>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <div class="font-black text-white mx-4 p-2 text-xl">
                                        Simple Pricing
                                        <hr>
                                        <div class="font-normal py-2 text-base text-white">Pagament sense intermediaris
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center text-left px-4 mb-0">
                                    <svg viewBox="0 0 48 48" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="matrix(2,0,0,2,0,0)">
                                            <path
                                                d="M2.25,3.923v7.614A11.907,11.907,0,0,0,9.882,22.65l1.041.4a3,3,0,0,0,2.154,0l1.041-.4A11.907,11.907,0,0,0,21.75,11.537V3.923a1.487,1.487,0,0,0-.868-1.362A21.7,21.7,0,0,0,12,.75,21.7,21.7,0,0,0,3.118,2.561,1.487,1.487,0,0,0,2.25,3.923Z"
                                                fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5"></path>
                                            <path d="M7.500 9.750 L16.500 9.750 L16.500 17.250 L7.500 17.250 Z"
                                                fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5">
                                            </path>
                                            <path d="M12,5.25h0a3,3,0,0,0-3,3v1.5h6V8.25A3,3,0,0,0,12,5.25Z" fill="none"
                                                stroke="#c8d8e4" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.5">
                                            </path>
                                            <path d="M12,13.154a.375.375,0,1,1-.375.375A.375.375,0,0,1,12,13.154"
                                                fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5">
                                            </path>
                                        </g>
                                    </svg>
                                    <div class="font-black text-white mx-4 p-2 text-xl">
                                        getKeepers support
                                        <hr>
                                        <div class="font-normal py-2 text-base text-white">Suport total de la plataforma
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
        </div>

        <!--Inici Instruccions bàsiques -->
        <section class="bg-[#f2f2f2] h-auto py-20 change-bg">
            <div class="max-w-7xl mx-auto">
                <div class="mx-10 lg:mx-20  text-[#2b6777] font-black text-2xl">
                    <h1>Instruccions bàsiques</h1>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mx-10 lg:mx-20 mt-5 ">

                    <div class="flex bg-[#2b6777]  rounded-lg border-2 shadow-lg items-center text-left p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 ml-2 " fill="none" viewBox="0 0 24 24"
                            stroke="#c8d8e4">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                        <div class="font-black text-white mx-4 p-2">
                            Busca
                            <div class="font-normal text-[#c8d8e4]"> Trobeu un espai que tingui la mida adequada, al
                                lloc correcte.
                            </div>
                        </div>

                    </div>
                    <div class="flex bg-[#2b6777]  rounded-lg border-2 shadow-lg items-center text-left p-4">
                        <svg viewBox="0 0 48 48" class="h-10 w-10 ml-2 " xmlns="http://www.w3.org/2000/svg">
                            <g transform="matrix(2,0,0,2,0,0)">
                                <path d="M4.5 1.353L12 1.353 22.5 11.853" fill="none" stroke="#c8d8e4"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                                <path
                                    d="M9.129,4.353H3a1.5,1.5,0,0,0-1.5,1.5v6.128a1.5,1.5,0,0,0,.439,1.061L11.1,22.205a1.5,1.5,0,0,0,2.465-.534L15,17.853l3.819-1.433a1.5,1.5,0,0,0,.534-2.465L10.189,4.792A1.5,1.5,0,0,0,9.129,4.353Z"
                                    fill="none" stroke="#c8d8e4" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5"></path>
                                <path d="M6 8.478L6 8.478" fill="none" stroke="#c8d8e4" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="1.5"></path>
                                <path d="M6,8.478a.375.375,0,1,0,.375.375A.374.374,0,0,0,6,8.478" fill="none"
                                    stroke="#c8d8e4" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                </path>
                            </g>
                        </svg>
                        <div class="font-black text-white mx-4 p-2">
                            Connecta
                            <div class="font-normal text-[#c8d8e4]"> Parla amb els propietaris i troba el teu ideal
                                espai.
                            </div>
                        </div>

                    </div>
                    <div class="flex bg-[#2b6777] rounded-lg border-2 shadow-lg items-center text-left p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 ml-2" viewBox="0 0 48 48">
                            <g transform="matrix(2,0,0,2,0,0)">
                                <defs>
                                    <style>
                                        .a {
                                            fill: none;
                                            stroke: #c8d8e4;
                                            stroke-linecap: round;
                                            stroke-linejoin: round;
                                            stroke-width: 1.5px;
                                        }
                                    </style>
                                </defs>
                                <title>3d-box-corner</title>
                                <polygon class="a" points="12 13.09 3.75 9.34 3.75 18.34 12 22.09 12 13.09">
                                </polygon>
                                <polygon class="a" points="12 13.09 20.25 9.34 20.25 18.34 12 22.09 12 13.09">
                                </polygon>
                                <polyline class="a" points="20.25 9.34 12 5.59 3.75 9.34"></polyline>
                                <line class="a" x1="12" y1="5.59" x2="12" y2="1.84"></line>
                                <line class="a" x1="3.75" y1="18.34" x2="0.75" y2="19.84"></line>
                                <line class="a" x1="20.25" y1="18.34" x2="23.25" y2="19.84"></line>
                            </g>
                        </svg>
                        <div class="font-black text-white mx-4 p-2">
                            Reserva
                            <div class="font-normal text-[#c8d8e4]"> Confirmeu la vostra reserva i comenceu a utilitzar
                                l'espai. És simple!


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!--Inici FAQS -->
        <section class="change-bg bg-gradient-to-r bg-[#2b6777] pt-10 pb-20 ">
            <div class="max-w-7xl m-auto">
                <div class="mx-10 lg:mx-20 pt-10 text-white font-black text-2xl ">
                    <h1>FAQs</h1>
                </div>
                <div class=" mx-10 lg:mx-20 ">
                    <main class="bg-light-blue">
                        <div class="flex items-start my-2">
                            <div class="w-full my-1">
                                <ul class="flex flex-col">
                                    <li class="bg-white my-2 shadow-lg" x-data="accordion(1)">
                                        <h2 @click="handleClick()"
                                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                                            <span>Com em converteixo en un llogater?</span>
                                            <svg :class="handleRotate()"
                                                class="fill-current text-gray-600 h-6 w-6 transform transition-transform duration-500"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                                </path>
                                            </svg>
                                        </h2>
                                        <div x-ref="tab" :style="handleToggle()"
                                            class="border-l-4 border-gray-600 overflow-hidden max-h-0 duration-500 transition-all">
                                            <p class="p-3 text-gray-900">
                                                Busques un traster on guardar la teva bicicleta que sigui barat i
                                                estigui a peu de carrer? O un pàrquing per a la teva moto que no et
                                                costi un ronyó? getKeepers t'ajuda!
                                                Utilitza el cercador de getKeepers per cercar i filtrar a prop de la
                                                teva zona (pots accedir des de la pàgina principal). Si trobes el que et
                                                convé, podràs parlar amb l'amfitrió directament des del dia que et
                                                convingui.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bg-white my-2 shadow-lg" x-data="accordion(2)">
                                        <h2 @click="handleClick()"
                                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                                            <span>Puc parlar amb el propietari abans de fer una reserva?</span>
                                            <svg :class="handleRotate()"
                                                class="fill-current text-gray-600 h-6 w-6 transform transition-transform duration-500"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                                </path>
                                            </svg>
                                        </h2>
                                        <div class="border-l-4 border-gray-600 overflow-hidden max-h-0 duration-500 transition-all"
                                            x-ref="tab" :style="handleToggle()">
                                            <p class="p-3 text-gray-900">
                                                És clar! Podeu enviar un missatge a l'amfitrió amb qualsevol pregunta
                                                que tingueu per esbrinar si el vostre espai és adequat. De tota manera,
                                                en cas que trigui a respondre't, tingues paciència. És possible que
                                                algun dels amfitrions trigui a respondre't per estar ocupats durant en
                                                horari laboral o per qualsevol altre motiu, però segur que ho acaben
                                                fent.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bg-white my-2 shadow-lg" x-data="accordion(3)">
                                        <h2 @click="handleClick()"
                                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                                            <span>Com estaré protegit legalment durant el lloguer? Hi haurà
                                                contracte?</span>
                                            <svg :class="handleRotate()"
                                                class="fill-current text-gray-600 h-6 w-6 transform transition-transform duration-500"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                                </path>
                                            </svg>
                                        </h2>
                                        <div class="border-l-4 border-gray-600 overflow-hidden max-h-0 duration-500 transition-all"
                                            x-ref="tab" :style="handleToggle()">
                                            <p class="p-3 text-gray-900">
                                                A getKeepers, tant els llogaters com els amfitrions estan protegits pels
                                                nostres termes i condicions, que estableixen les responsabilitats de
                                                cada part i les penalitzacions aplicables pel seu incompliment. Però a
                                                més, i per a més tranquil·litat de tots, en els lloguers a llarg termini
                                                el propietari us enviarà un contracte mitjançant una plataforma de
                                                signatura electrònica, perquè signeu online abans del començament del
                                                lloguer.
                                                Aquest contracte té completa validesa legal, perquè les dues parts
                                                estigueu tranquil·les.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bg-white my-2 shadow-lg" x-data="accordion(4)">
                                        <h2 @click="handleClick()"
                                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                                            <span>Què passa si vull cancel·lar el contracte? </span>
                                            <svg :class="handleRotate()"
                                                class="fill-current text-gray-600 h-6 w-6 transform transition-transform duration-500"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                                </path>
                                            </svg>
                                        </h2>
                                        <div class="border-l-4 border-gray-600 overflow-hidden max-h-0 duration-500 transition-all"
                                            x-ref="tab" :style="handleToggle()">
                                            <p class="p-3 text-gray-900">
                                                Si el llogater vol cancel·lar el contracte, és molt fàcil de fer a
                                                l'apartat dels meus espais. Un cop fet, s'haurà de rescindir el
                                                contracte real amb el propietari. </p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                </div>
            </div>
            </div>
        </section>


        <!--Inici tipus espais -->
        <section class="change-bg bg-[#f2f2f2] py-20">
            <div class="max-w-7xl mx-auto">
                <div class="mx-10 lg:mx-20  font-black text-2xl  text-[#2b6777]">
                    <h1>Tipus espais</h1>
                </div>
                <div class="mx-10 lg:mx-20 mt-5 mb-10">
                    <div class="grid grid-cols-1 md:grid-cols-5 md:gap-y-4">
                        <div class="col-span-1">
                            <div class="flex md:grid md:grid-cols-1 overflow-x-auto" id="buttons">
                                <hr>
                                <button
                                    class="btn bg-[#2b6777] text-white font-black rounded-t-lg p-2 md:mx-0 md:py-4 md:rounded-t-none md:rounded-l-lg active focus:outline-none"
                                    id="parking" onclick="changeTypeSpace('parking')">Pàrquings</button>
                                <hr>
                                <button
                                    class="btn rounded-t-lg p-2 md:mx-0 md:py-4 md:rounded-t-none md:rounded-l-lg focus:outline-none"
                                    id="traster" onclick="changeTypeSpace('traster')">Trasters</button>
                                <hr>




                            </div>

                        </div>

                        <div class="type-text bg-[#2b6777] col-span-4 rounded-sm active " id="parking">
                            <div class="m-5 p-5">
                                <h1 class="font-black text-white text-xl">Pàrquings</h1>
                                <div class="text-[#c8d8e4] mt-5">
                                    <p>Lloguer de pàrquing per a cotxes i altres vehicles similars. Guarda el teu cotxe
                                        amb tota seguretat i al menor cost.</p>
                                    <div class="ml-10 mt-5">
                                        <h3>- Garatge privat</h3>
                                        <h3>- Plaça privada amb pàrquing públic</h3>
                                        <h3>- Garatge privat en edifici privat</h3>
                                    </div>
                                </div>

                                <div class="grid grid-cols-1 md:grid-cols-2 mt-5">
                                    <img class="px-2 my-2 rounded-xl h-full"
                                        src="https://thumbs.dreamstime.com/b/empty-garage-interior-new-house-97573995.jpg"
                                        alt="" srcset="">
                                    <img class="px-2 my-2 rounded-xl h-full"
                                        src="https://thumbs.dreamstime.com/b/empty-garage-22823237.jpg" alt=""
                                        srcset="">

                                </div>

                            </div>
                        </div>
                        <div class="type-text bg-[#2b6777] col-span-4 rounded-sm hidden" id="traster">
                            <div class="m-5 p-5">
                                <h1 class="font-black text-white text-xl">Trasters</h1>
                                <div class="text-[#c8d8e4] mt-5">
                                    <p>Lloguer d'espais entre particulars amb tota mena de característiques segons les
                                        necessitats del llogater: mida, seguretat, prestatgeries, ascensor, etc.</p>
                                    <div class="ml-10 mt-5">
                                        <h3>- Proximitat</h3>
                                        <h3>- Tranquil·litat</h3>
                                        <h3>- Preus reduïts </h3>
                                    </div>
                                </div>

                                <div class="grid  grid-cols-1 md:grid-cols-2 mt-5">
                                    <img class="px-2 my-2 rounded-xl  h-full"
                                        src="https://img.freepik.com/foto-gratis/vista-superior-habitacion-desordenada-llena-cajas-mudanza_329181-18268.jpg?w=1380&t=st=1654804598~exp=1654805198~hmac=aef21809e594e10cef72e84b6e310c7524cd888ce030e6e6fad256e2be01c3c1"
                                        alt="" srcset="">
                                    <img class="px-2 my-2 rounded-xl  h-full"
                                        src="https://img.freepik.com/foto-gratis/nadie-sala-estar-vacia-embalaje-carton-nuevo-hogar-muebles-cajas-carton-no-hay-personas-propiedad-hogar-carga-paquete-mudarse-bienes-raices_482257-43689.jpg?t=st=1654804656~exp=1654805256~hmac=3b5157fa52d1f572b15129dc0b261183c959b2b795e6bdeddbdd0daee9c60f7d&w=1380"
                                        alt="" srcset="">
                                    <img class="px-2 my-2 rounded-xl" alt="" srcset="">

                                </div>

                            </div>
                        </div>
                        <!--      <div class="type-text bg-[#2b6777] col-span-4 rounded-sm hidden" id="hola1">
                            <div class="m-5 p-5">
                                <h1 class="font-black text-white text-xl">Parking Spaces</h1>
                                <div class="text-[#c8e8d4] mt-5">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo distinctio
                                        nesciunt suscipit sequi recusandae dolore dolorem dolor nisi fugiat
                                        quibusdam?</p>
                                    <div class="ml-10 mt-5">
                                        <h1> 1</h1>
                                        <h1>caracteristica 1</h1>
                                        <h1> 1</h1>
                                    </div>
                                </div>

                                <div class="grid  grid-cols-1 md:grid-cols-3 mt-5">
                                    <img class="px-2 my-2 rounded-xl"
                                        src="https://thumbs.dreamstime.com/b/empty-garage-interior-new-house-97573995.jpg"
                                        alt="" srcset="">
                                    <img class="px-2 my-2 rounded-xl"
                                        src="https://thumbs.dreamstime.com/b/empty-garage-22823237.jpg" alt=""
                                        srcset="">
                                    <img class="px-2 my-2 rounded-xl"
                                        src="https://thumbs.dreamstime.com/b/empty-parking-garage-warehouse-interior-large-white-gates-gray-tile-floor-light-98102493.jpg"
                                        alt="" srcset="">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>


        <!-- Inici blog -->
        <section class="change-bg bg-[#2b6777] py-20">
            <div class="max-w-7xl mx-auto">
                <div class="mx-10 lg:mx-20  font-black text-white text-2xl">
                    <h1>Blog</h1>
                </div>
                <div class="grid grid-cols-1 gap-4 md:flex overflow-x-auto mx-10 lg:mx-20 mt-10 mb-10">
                    <a class="bg-white text-[#2b6777] p-6 rounded-lg " href="/blog/article-1">
                        <img src="https://img.freepik.com/foto-gratis/automatizacion-fabrica-vehiculos-guiados-automatizados-brazo-robotico-transporte-aumentar-transporte-mas-seguridad_41470-4712.jpg"
                            class="rounded-xl h-64  md:h-96">
                        <h2 class="font-bold text-xl mt-5">Com gestionar l'inventari del magatzem
                        </h2>
                        <p class="text-justify ">Amb el vostre negoci a l'alça, necessitareu més espai. Però quan
                            tinguis...

                        </p>
                        <button class="underline  focus:outline-none " href="/blog/article-1">Mostrar
                            més</button>
                    </a>
                    <a class="bg-white text-[#2b6777] p-6 rounded-lg" href="/blog/article-2">
                        <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-esquizofrenia_114360-3567.jpg?t=st=1654805728~exp=1654806328~hmac=d99daf007f35f067eeb2cfa13fb7b69077cc51aa05f6c27cae52efbe0ed7f4d9&w=826"
                            class="rounded-xl  h-64 md:h-96">
                        <h2 class="font-bold text-xl mt-5">4 maneres d'optimitzar la vostra llar per millorar la vostra
                            salut mental
                        </h2>
                        <p class="text-justify ">Sabíeu que el vostre espai vital pot tenir un efecte a la salut
                            mental? Segueix els nostres quatre... </p>
                        <button class="underline  focus:outline-none " href="/blog/article-2">Mostrar
                            més</button>

                    </a>


                </div>
            </div>

        </section>


        <%- include('../partials/footer') %>

            </div>
            <script>
                document.addEventListener('alpine:init', () => {
                    Alpine.store('accordion', {
                        tab: 0
                    });

                    Alpine.data('accordion', (idx) => ({
                        init() {
                            this.idx = idx;
                        },
                        idx: -1,
                        handleClick() {
                            this.$store.accordion.tab = this.$store.accordion.tab === this.idx ? 0 : this.idx;
                        },
                        handleRotate() {
                            return this.$store.accordion.tab === this.idx ? 'rotate-180' : '';
                        },
                        handleToggle() {
                            return this.$store.accordion.tab === this.idx ? `max-height: ${this.$refs.tab.scrollHeight}px` : '';
                        }
                    }));
                })
            </script>
            <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6jD6iWnEJkmx1_ah_o3ftmI8w9ozYBcM&callback=initAutocomplete&v=weekly&libraries=places"
                async>
                </script>
    </body>

    </html>