<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>

        <body>
            <div class="flex items-center min-h-screen bg-gray-200">
                <div class="container mx-auto ">
                    <div class="w-5/6 mx-auto my-10  bg-white p-5 rounded-md shadow-sm">
                        <div class="text-center">
                            <h1 class="my-3 text-3xl font-semibold text-gray-700 ">Política de privacitat</h1>
                        </div>
                        <div class="m-7">

                            <p>A getKeepers, accessible des de <a
                                href="https://getKeepers.net">https://getKeepers.net</a>, una de les nostres
                                principals prioritats
                                és
                                privadesa dels nostres visitants. Aquest document de política de privadesa conté tipus
                                d'informació que
                                es recull i enregistra per getKeepers i com l'emprem.</p>

                            <p>Si teniu preguntes addicionals o necessiteu més informació sobre la nostra política de
                                privadesa,
                                no dubti a contactar-nos.</p>
                            <br>

                            <p>Aquesta política de privadesa només s'aplica a les nostres activitats en línia i és
                                vàlida per als visitants a
                                el nostre lloc web pel que fa a la informació que han compartit i/o recopilat
                                Uns guapos. Aquesta política no és aplicable a cap informació recopilada fora de línia o
                                via
                                canals diferents d'aquest lloc web.</p>
                            <br>
                            <h2 class="font-black">Consent</h2>
                            <br>
                            <p>En utilitzar el nostre lloc web, consentiu la nostra política de privadesa i accepteu els
                                seus termes.
                            </p>

                            <h2 class="font-black">Informació recopilem</h2>

                            <p>La informació personal que se us demana que proporcioneu, i les raons per les quals se us
                                pregunta
                                Per a proporcionar-ho, li ho deixarem clar en el moment en què li demanem que li
                                proporcioni el seu
                                informació personal.</p>
                            <p>Si ens poses en contacte directament, podem rebre informació addicional sobre tu com ara
                                nom, adreça de correu electrònic, número de telèfon, el contingut del missatge i/o
                                adjunts
                                pot enviar-nos, i qualsevol altra informació que puguis triar proporcionar.</p>
                            <p>Quan et registres per un compte, podem demanar la teva informació de contacte, incloent
                                elements com el nom, el nom de l'empresa, l'adreça, l'adreça de correu electrònic i el
                                número de telèfon.</p>
                            <br>

                            <h2 class="font-black">Com utilitzem la vostra informació</h2>
                            <br>

                            <p>Fem servir la informació que recopilem de diverses maneres, incloent-hi:</p>
                            <br>

                            <ul>
                                <li>Proporciona, opera i manté el nostre lloc web</li>
                                <li>Millora, personalitza i amplia el nostre lloc web</li>
                                <li>Entén i analitza com utilitzeu el nostre lloc web</li>
                                <li>Desenvolupa nous productes, serveis, característiques i funcionalitat</li>
                                <li>Comunica't amb tu, ja sigui directament o a través d'un dels nostres socis, inclòs
                                    per a
                                    servei de client, per proporcionar-vos actualitzacions i altra informació
                                    relacionada amb el
                                    lloc web, i per a propòsits de màrqueting i promoció</li>
                                <li>Us envia correus electrònics</li>
                                <li>Troba i evita el frau</li>
                            </ul>
                            <br>

                            <h2 class="font-black">Fitxers de registre</h2>
                            <br>

                            <p>getKeepers segueix un procediment estàndard d'ús de fitxers de registre. Aquests fitxers
                                registren els visitants quan
                                visiten llocs web. Totes les empreses d'acolliment fan això i una part dels serveis
                                d'allotjament'
                                Anàlisi. La informació recollida pels fitxers de registre inclou el protocol d'Internet
                                (IP)
                                adreces, tipus de navegador, proveïdor de serveis d'Internet (ISP), data i hora,
                                pàgines referenciades/sortides, i possiblement el nombre de clics. Aquests no estan
                                enllaçats a cap
                                informació que és personalment identificable. El propòsit de la informació és per
                                analitzar les tendències, administrar el lloc, seguir el moviment dels usuaris en el
                                lloc web, i
                                recopilació d'informació demogràfica.</p>

                            <br>

                            <h2 class="font-black">Galetes i icones web</h2>
                            <br>

                            <p>Com qualsevol altre lloc web, getKeepers utilitza 'novells'. Aquestes galetes s'utilitzen
                                per emmagatzemar
                                informació que inclou les preferències dels visitants i les pàgines del lloc web que
                                Visitador accedit o visitat. La informació s'utilitza per optimitzar l'experiència dels
                                usuaris
                                personalitzar el contingut de la nostra pàgina web basat en el tipus de navegador de
                                visitants i/o un altre
                                informació.</p>


                            <br>

                            <h2 class="font-black">Publicitat de les polítiques de privadesa dels socis</h2>
                            <br>

                            <p>Podeu consultar aquesta llista per trobar la política de privadesa per a cadascun dels
                                socis publicitaris
                                de getKeepers.</p>

                            <p>Els servidors d'anuncis de tercers o xarxes d'anuncis utilitzen tecnologies com galetes,
                                JavaScript o Web
                                Beacons que s'utilitzen en els seus respectius anuncis i enllaços que apareixen
                                getKeepers, que s'envien directament al navegador dels usuaris. Reben automàticament
                                Adreça IP quan es produeixi. Aquestes tecnologies s'utilitzen per mesurar l'efectivitat
                                de
                                campanyes publicitàries i/o personalitzar el contingut publicitari que veieu
                                als llocs web que visiteu.</p>

                            <p>Tingueu en compte que getKeepers no té accés ni control sobre aquestes galetes que
                                s'utilitzen
                                anunciants de tercers
                                <br>

                            <h2 class="font-black">Polítiques de Privacitat del Tercer Partit</h2>
                            <br>

                            <p>getKeepers's Privacy Policy no s'aplica a altres anunciants o llocs web. Així, som
                                assessorament per consultar les respectives polítiques de privadesa d'aquests servidors
                                d'anuncis de tercers
                                per a informació més detallada. Pot incloure les seves pràctiques i instruccions sobre
                                com
                                a l'opció d'exclusió de determinades opcions. </p>

                            <p>Podeu escollir desactivar les galetes a través de les vostres opcions individuals de
                                navegador. Per saber més
                                informació detallada sobre la gestió de galetes amb navegadors web específics, es pot
                                trobar
                                als llocs web respectius dels navegadors.</p>
                            <br>

                            <h2 class="font-black">CCPA Drets de privacitat (No venguis la meva informació personal)
                            </h2>
                            <br>

                            <p>Sota la CCPA, entre altres drets, els consumidors de Califòrnia tenen dret a:</p>
                            <p>Sol·licita que un negoci que recull les dades personals d'un consumidor reveli les
                                categories
                                i peces específiques de dades personals que una empresa ha recopilat sobre els
                                consumidors.</p>
                            <p>Sol·licita que una empresa elimini qualsevol dada personal sobre el consumidor que té una
                                empresa
                                recollit.</p>
                            <p>Sol·licita que un negoci que ven les dades personals d'un consumidor, no ven els del
                                consumidor
                                dades personals</p>
                            <p>Si fas una petició, tenim un mes per respondre-te. Si voleu exercir
                                qualsevol d'aquests drets, si us plau contacteu-nos.</p>
                            <br>

                            <h2 class="font-black">GDPR Drets de protecció de dades</h2>
                            <br>

                            <p>Voldríem assegurar-nos que coneix tots els seus drets de protecció de dades.
                                Tots els usuaris tenen dret al següent:</p>
                            <p>El dret d'accés - Teniu el dret de sol·licitar còpies de les vostres dades personals.
                                Podem
                                cobrar-vos una petita quota per aquest servei.</p>
                            <p>El dret a la rectificació – Té dret a demanar que corregim qualsevol
                                la informació que creieu és inexacta. També té dret a sol·licitar que nosaltres
                                completeu la informació que creieu incompleta.</p>
                            <p>El dret a l'esborrament - Teniu el dret a sol·licitar que esborrarem les vostres dades
                                personals,
                                sota certes condicions.</p>
                            <p>El dret a restringir el processament - Teniu el dret a demanar que restringim el
                                processament de les vostres dades personals en determinades condicions.</p>
                            <p>El dret a objectar al processament - Teniu dret a objectar al nostre processament
                                les vostres dades personals en determinades condicions.</p>
                            <p>El dret a la portabilitat de les dades – Teniu el dret de sol·licitar que transferim les
                                dades
                                que hem recollit a una altra organització, o directament a tu, amb certesa
                                CONDICIONS.</p>
                            <p>Si fas una petició, tenim un mes per respondre-te. Si voleu exercir
                                qualsevol d'aquests drets, si us plau contacteu-nos.</p>
                            <br>

                            <h2 class="font-black">Informació de la infància</h2>
                            <br>

                            <p>Una altra part de la nostra prioritat és afegir protecció als nens mentre s'utilitza
                                Internet.
                                Encoratgem als pares i tutors a observar, participar i/o supervisar i guiar
                                la seva activitat en línia.</p>

                            <p>getKeepers no recopila conscientment cap informació personal identificable dels fills
                                Als 13 anys. Si creieu que el vostre fill ha proporcionat aquest tipus d'informació
                                sobre
                                el nostre lloc web, li animem fermament a posar-se en contacte amb nosaltres
                                immediatament i farem el que puguem
                                esforços per eliminar ràpidament aquesta informació dels nostres registres.</p>
                        </div>
                    </div>
                </div>
            </div>
        </body>


        <%- include("../partials/footer") %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
                integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous">
                </script>

            <script src="/public/js/closeAlert.js"></script>

            </html>