<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>

        <body>

            <div class="w-full my-12">
                <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8">
                    <div class="bg-white w-full shadow rounded p-8">
                        <div class="grid grid-cols-1 gap-8 mt-6">
                            <div class="flex flex-col">
                                <div class="w-full h-64 rounded overflow-hidden">
                                    <img class="object w-full h-auto"
                                        src="https://img.freepik.com/vector-gratis/ilustracion-concepto-esquizofrenia_114360-3567.jpg?t=st=1654805728~exp=1654806328~hmac=d99daf007f35f067eeb2cfa13fb7b69077cc51aa05f6c27cae52efbe0ed7f4d9&w=826"
                                        alt="">
                                </div>
                                <div class="w-full  m-4">
                                    <h2 class="text-2xl font-semibold leading-tight  text-gray-600">
                                        4 maneres d'optimitzar la vostra llar per millorar la vostra salut mental
                                    </h2>
                                    <p class="leading-normal pt-2">Darrerament s'ha donat un valor molt necessàri a la
                                        salut mental. Som més conscients que mai de com factors com el treball i les
                                        relacions poden afectar positivament o negativament el nostre benestar mental.
                                        <br>
                                        <br>
                                        Tanmateix, has pensat mai com afecta la teva llar a la teva salut mental? Ens
                                        hem acostumat a escoltar com la meditació, la teràpia, el temps amb la família i
                                        els amics, les activitats que gaudeixes, una dieta saludable i l'exercici
                                        regular ens poden ajudar a sentir-nos millor. Però, què passa amb els canvis
                                        subtils al nostre espai vital?
                                        <br>
                                        <br>
                                        Bé, s'ha demostrat científicament que fer canvis particulars al vostre espai pot
                                        reduir l'ansietat, l'estrès i la depressió. Us mostrem què heu de fer!



                                        <br>
                                        <br>
                                        &nbsp&nbsp-La llum del sol és essencial
                                        <br>
                                        &nbsp&nbsp-Desfer-se del desordre
                                        <br>
                                        &nbsp&nbsp-Afegeix obres d'art al teu espai vital
                                        <br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </body>





        <%- include("../partials/footer") %>

            </html>