<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>

        <body>

            <div class="w-full my-12">
                <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8">
                    <div class="bg-white w-full shadow rounded p-8">
                        <div class="grid grid-cols-1 gap-8 mt-6">
                            <div class="flex flex-col">
                                <div class="w-full h-64 rounded overflow-hidden">
                                    <img class="object w-full h-auto"
                                        src="https://img.freepik.com/foto-gratis/automatizacion-fabrica-vehiculos-guiados-automatizados-brazo-robotico-transporte-aumentar-transporte-mas-seguridad_41470-4712.jpg"
                                        alt="">
                                </div>
                                <div class="w-full  m-4">
                                    <h2 class="text-2xl font-semibold leading-tight  text-gray-600">
                                        Com gestionar l'inventari del magatzem
                                    </h2>
                                    <p class="leading-normal pt-2">Amb el vostre negoci a l'alça, necessitareu més
                                        espai. Però quan teniu un magatzem per a l'emmagatzematge empresarial, com
                                        gestioneu l'inventari del vostre magatzem?
                                        <br>
                                        <br>
                                        Quan teniu estoc acumulat en un magatzem, pot ser difícil gestionar-ho tot tret
                                        que tingueu un pla d'organització intel·ligent. Mantenir actualitzat l'inventari
                                        del vostre magatzem és una de les claus per tirar endavant un negoci amb èxit.
                                        Evitaràs compres innecessàries, excés d'estoc i hores llargues i laborioses que
                                        no han suposat res. Aquí teniu algunes coses a tenir en compte a l'hora de
                                        gestionar l'inventari del vostre magatzem.
                                        <br>
                                        <br>
                                        &nbsp&nbsp-Mantingueu el vostre inventari d'estocs precís
                                        <br>
                                        &nbsp&nbsp-Considereu la disposició del vostre estoc
                                        <br>
                                        &nbsp&nbsp-Organitzeu el vostre estoc de magatzem
                                        <br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </body>





        <%- include("../partials/footer") %>

            </html>